/**
 * Apply `transition-property` transparent mixin
 * for vendor support.
 *
 * @type mixin
 * @type transparent
 */

transition-property()
  -webkit-transition-property arguments
  -moz-transition-property arguments
  transition-property arguments
